node_modules/
.expo/
npm-debug.*

ios/build

android/build
android/.gradle
android/local.properties
android/.idea/workspace.xml
android/.idea/libraries
android/.DS_Store
android/captures
android/bin/
android/gen/
android/local.properties
android/.classpath
android/.project
android/proguard/
android/app/build/
android/.idea/*.xml
*.iml
*.apk
*.ap_
*.dex
*.class
*.ipr
*.iws